<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row ">

            <a class="col text-reset text-uppercase d-flex align-items-center mr-5">
                <i style="font-size: 30px;" class="fas fa-store-alt">&nbsp;</i>
                <strong>Edu-Shop</strong>
            </a>

            <ul class="col-3 list-unstyled">
                <li class="text-uppercase"><strong>Conócenos</strong></li>
                <li><a href="" class="text-reset">¿Búscas trabajo?</a></li>
                <li><a href="" class="text-reset">A cerca de nosotros</a></li>
                <li><a href="" class="text-reset">Información coporativa</a></li>
            </ul>

            <ul class="col-3 list-unstyled">
                <li class="text-uppercase"><strong>Gana dinero con nosotros</strong></li>
                <li><a href="" class="text-reset">Vender aquí</a></li>
                <li><a href="" class="text-reset">Anuncia tus productos</a></li>
                <li><a href="" class="text-reset">Programa de afiliados</a></li>
            </ul>

            <ul class="col-3 list-unstyled">
                <li class="text-uppercase text-center"><strong>Redes Sociales</strong></li>
                <li class="d-flex justify-content-between">
                    <a href="" class="text-reset"><i class="fab fa-facebook-f"></i></a>
                    <a href="" class="text-reset"><i class="fab fa-twitter"></i></a>
                    <a href="" class="text-reset"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
            
        </div>
    </div>
</footer>